* {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0%;
    padding: 0%;
    color: #000;
}


.header {
    background-color: #f7f8f8;
    padding: 20px;
    padding-left: 80px;
    text-transform: uppercase;
    font-size: 0.8em;
}

a {
    text-decoration: none;
}

.top-bar-items {
    padding: 10px;
    display: inline-block;
    padding-bottom: 2px;
    padding-top: 2px;
}

.header-bottom {
    padding-top: 10px;
}

.search-input {
    padding: 10px;
    width: 200px;
}

.selectInput {
    padding: 10px;
    width: 200px;
}

.search {
    width: 40vw;
}

.fa-search {
    background-color: #002f34;
    color: #fff;
    padding: 16px;
    border-radius: 5px;
}

.sell-button {
    margin-left: 10px;
    padding: 15px;
    border-radius: 20px;
    background-color: #fff;
    border-bottom: 3px solid #ffce32;
    border-top: 3px solid #3a77ff;
    border-left: 3px solid #23e5db;
    border-right: 3px solid #3a77ff;

}

.top-bar-icon {
    padding: 20px;
    font-size: 20px;
}

.header-bottom-bar {
    padding: 20px;
    padding-left: 80px;
    box-shadow: 0 1px 1px #00000037;
}

li {
    display: inline-block;
    padding-right: 10px;
    font-size: 0.8em;
}

.all-cat {
    display: inline-block;
    padding-right: 10px;
}

li:hover {
    cursor: pointer;
    color: #46aca9;
}

.txt-bold {
    font-weight: bold;
}

.mySlides{
    width: 100%;
    margin-right: 120px;
    border-radius: 5px;
    
}

.padding-20{
    padding:20px ;
}
.header-ad,.cat-area ,.clasifieds-cards-area{
    padding-left: 0 80px;
    margin-top: 10px;
 
}

.cat-card{
    max-width: 200px;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    margin: 20px  20px;
    padding-right: 5px;
    margin-left: 0px;
    
    
}

.cat-card > img {
    width: 80px;
}

.ad-card{
    border: 1px solid;
    width: 400px;
    height: 280px;
    max-width: 250px;
    margin: 20px 0px;
    border-radius: 5px;
    overflow: hidden;

}



/* .ad-card img {
    max-width: 100px;
    width: 200px;
    height: 150px;

} */

.ph-2{
    border: 1px solid;
    width: 200px;
    height: 290px;
    max-width: 250px;
    margin: 20px 0px;
    border-radius: 5px;
    overflow: hidden;
}

.sam{
    padding-left: 25%;
    padding-bottom: -50%;
}

.car{
    border: 1px solid;
    width: 250px;
    height: 200px;
    max-width: 250px;
    margin: 20px 0px;
    border-radius: 5px;
    overflow: hidden; 
}



